.reviewForm {
  background: yellow;
}

.linkReview {
  text-transform: uppercase;
}

.reviewListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reviewImg {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 20em;
  border: 3px solid white;
}

.reviewH1 {
  color: aqua;
  font-size: 2em;
}

.reviewP {
  color: white;
  font-size: 3em;
}

.ReviewSingleView {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px purple solid;
  margin-top:4em;
  padding: 1em;
  width: 30em;
  height: 30em;
}

.ReviewSingleView img {
  display: flex;
  width: 20em;
  height: 20em;
}

.mainSingleView {
  display: flex;
  justify-content: center;
  /* align-content: center;  */
}

.reviewDelete{
  display: flex;
  justify-content: center;
}