.reviewForm {
  background: yellow;
}

.linkReview {
  text-transform: uppercase;
}

.reviewListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reviewImg {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 20em;
  border: 3px solid white;
}

.reviewH1 {
  color: black;
  font-size: 1.5em;
}

.reviewP {
  color: white;
  font-size: 2em;
}

.ReviewSingleView {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px yellow solid;
  margin-top:4em;
  padding: 1em;
  width: 30em;
  height: 30em;
  background: red;
}

.ReviewSingleView img {
  display: flex;
  width: 20em;
  height: 20em;
}

.mainSingleView {

  display: flex;
  justify-content: center;
  align-content: center; 
}

.reviewDelete{
  display: flex;
  justify-content: center;
}
.createdAt{
  color: black;
  font-size: 1em;

}

.reviewColor {
color: yellow;
font-size: 2em;

}

.EditReviews{
  padding: 0.5em;
  
}

.EditReviewsp{
  margin-top: 1em;
  font-family: monospace;
  font-size: 15px;
  color: blue;
  font-weight: 600;
}




.ReviewSingleView p {
  color: white;
  font-family: monospace;
  font-size: 20px;

}