.profile {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// border: 3px solid yellowgreen
}

.profileContainer {
	margin: 0;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	// border: 5px solid purple
}

.userInfo {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	// border: 2px solid blue;
}

.contentDisplay {
	border: 2px solid green;
	display: flex;
	flex-direction: row;
	justify-content:center;

}

.title {
	// border: 2px solid orange;
	text-align: center;
	padding: 2em;
	text-transform: uppercase;
}

.profilePic {
	width: 20%;
	height: 40%;
}

.shopLink {
	font-family: monospace;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.userPosts{

	background-color: blue;
}