.storesContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.storesheader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}





