.Login {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('./../../images/metallic.jpg');
	background-size: cover;
	height: 100vh;
}

.Loginform input {
	font-family: monospace;
	font-size: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 2em 5em;
	/* border: 2px green solid; */
}

.Loginform button {
	font-family: monospace;
	background: black;
	color: white;
	font-size: 15px;
	margin-top: 1em;
	padding: 0.5em;
	display: flex;
	align-self: center;
}

.SignUp {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('./../../images/metallic.jpg');
	background-size: cover;
	height: 100vh;
}

.SignUpFormDiv {
	display: flex;
	justify-content: center;
}

.SignUpForm input {
	display: flex;
	font-family: monospace;
	font-size: 15px;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 1em 4.2em;
}

.SignUpForm label {
	padding: 0.5em;
	font-weight: bold;
	margin-top: 1em;
	background: black;
	color: white;
	width: 18.5em;
	font-family: monospace;
	font-size: 17px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

input[type='checkbox'] {
	transform: scale(1.5);
	margin: 2em;
}

.signUpBtn {
	font-weight: bold;
	padding: 1em;
	margin-top: 1em;
	background: yellow;
	width: 18.5em;
	font-family: monospace;
	font-size: 17px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.shopGreeting {
	padding: 0.5em;
	font-weight: bold;
	margin-top: 1em;
	background: black;
	color: white;
	width: 18.5em;
	font-family: monospace;
	font-size: 17px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

